<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>79.5 Molasses</string>
	<string>Hillandale Blend</string>
	<string>ADM Blend</string>
	<string>Mid-Georgia Blend</string>
	<string>Liquid Supplement</string>
	<string>MI20</string>
	<string>Golden Flo 4-74</string>
	<string>Furst-McNess Blend</string>
	<string>Bull Run Blend</string>
	<string>Other - see note</string>
</array>
</plist>
